.App {
  text-align: center;
  /* background-color: lightgray; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#navbar ul{
  list-style: none;
}
#navbar li{
  display: inline;
}

.container {
  flex-direction: row;
  text-align: left;
  border: grey solid 1px;
  padding: 1rem;
  /* width: 15rem; */
  display: block;
  /* display: inline-grid; */
  margin: 1rem;
  /* box-shadow: 3px 4px #e04b52; */
}

.container p{
  font-size: small;
  flex-direction: row;
  text-align: left;
  margin: 0;
  line-height: 1
}

#create-comment{
  font-size: x-small;
  flex-direction: row;
  text-align: left;
  margin: 0
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height:40vh;  
}

.left {
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 15px
}

.formCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  height: 150px;
  width: 400px
}

/* Posts Index */

.posts-container {
  box-sizing: border-box;
  position: relative;
  padding: 2em 4em 4em;
  border: 0px solid #d8d8d8;
  margin: 1.5rem 0 0;
}

.posts {
  text-align: left;
}

.list-group-item-heading {
  font-weight: 300;
  font-size: 1.50rem;
}

.list-group-item-text {
  font-weight: 400;
  font-size: 1rem;
}

